@import 'bootstrap/dist/css/bootstrap.css';

.app {
  display: flex;
  justify-content: center;
}
.app-container {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  border-radius: 6px;
  margin-top: 50px;
}
.page-home {
  min-height: 100vh;
  padding: 25px;
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
  color: white;
  background-color: #282c34;

  a {
    color: #fff;
    transition: all ease 0.2s;

    &:hover {
      color: blue;
    }
  }
}

.page {
  max-width: 1200px;
  margin: 0 auto;
}

.code {
  font-family: 'Courier New', Courier, monospace;
  background-color: rgba(255, 255, 255, 0.2);
}

h5 {
  margin-bottom: 0 !important;
}
